BODY {
    padding: 1em;
}

LABEL {
    font-weight: bold;
    display: block;
    margin-bottom: 2ex;
    width: 100%;
}

#custom-client-url-section {
    display: none;
}

#custom-client-url {
    width: 100%;
}

#save {
    display: block;
    margin-top: 2ex;
}
